// IMPORTS
@import './variaveis_trilha';
@import './functions_trilha';

// BODY
body h2{
    font-size:25px;
    color: white; 
}
body {
    @include flexCenter();
    flex-flow:column;
    box-sizing: content-box;
    margin:0;
    padding:0;
    background: black url("../../assets/img/universo.jpg") no-repeat center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer{
    margin:0;
    width:100vw;
}
// NAV MENU ICONS
#backicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 160px 0 0;
}
#homeicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 60px 0 0;
}
// TRILHA
.trilhatop{
    @include flexAdj(flex, flex-start, center, column);
    width: 100vw;
    height: 100vh;
    padding: 50px;

    div{
        @include flexAdj(flex, center, center, column);
    }
}
.trilhainfo{
    background-color: $menuBackground;
    width: 95vw;
    height: 90vh;
    padding: 20px;
    border: 3px solid $borderColor;
    border-radius: 50px;
}
.trilhatitulo h3{
    font-size: 50px;
    color: white;
}
.trilhasubtitulo{
    height: 170px;
    justify-content: flex-end!important;
    color: white;

    p{
        font-size: 30px;
    }
}
.trilhavideo{
    height: 500px;
    width: auto;
    background-color: $menuBackground;
    border: 3px solid $borderColor;
    border-radius: 10px;

    video{
        border-radius: 10px;
    }
}
.trilhabotao{
    height: 130px;
    background-color: $hoverBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;

    button{
        font-size: 20px;
        color: white;
        text-decoration: none!important;
        background: none;
        outline: none;
        border: none;
        
        &:hover{
            color: rgb(179, 221, 255);
        }
    }
}
.foguetediv{
    @include flexCenter();
    width: 100vw;
    height: auto;
}
#foguete{
    position: fixed;
    width: 390px;
    height: auto;
    display: none;
    margin-top: 500px;
}
.controller{
    position: fixed;
    width: 100px;
    right: 0;
    height: auto;
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
}   
#buttonup{
    margin: 850px 50px 20px 0;
    @include flexCenter();
    width: 60px;
    height: 60px;

    img{
        height: 35px;
        width: auto;
    }
}
#buttondown{
    margin: 970px 50px 0 0;
    @include flexCenter();
    width: 60px;
    height: 60px;

    img{
        transform: rotate(180deg);
        height: 35px;
        width: auto;    
    }
}
#trilha {
    @include flexAdj(none, flex-start, center, column);
    width: 100vw;
    height: auto;
}
.nomepilar{
    @include flexCenter();
    position: absolute;
    left: 0;
    margin: 0 0 0 70px;

    h1{
        font-size: 15px;
        color: #fff;
    }
}
.iconeshome{
    @include flexCenter();
    position: absolute;
    right: 0;
    margin: 0 70px 0 0;

    a{
        margin: 0 0 0 20px;
    }
}
.iconesp1{
    @include flexAdj(flex, flex-start, center, row);
    width: 70vw;
    height: 800px;
}
.textp1{
    @include flexAdj(flex, center, center, column);
    margin: 0 20px 0 0;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp1{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        @include flexAdj(flex, flex-start, center, row);
        list-style: none;
        width: 100%;
        font-size: 15px;
        height: 70px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;        
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);
        border-top: 0;
        border-bottom: 2px solid white;
        border-left: 0;
        border-right: 0;

        &:hover{
            color: $aHovers;
        }
    }
}
#mvppasso{
    border: 0!important;
}
.iconesp2{
    @include flexAdj(flex, flex-end, center, row);
    width: 70vw;
    height: 800px;
}
.textp2{
    @include flexAdj(flex, flex-start, center, column);
    margin: 0 0 0 20px;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp2{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 70px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);
        border-top: 0;
        border-bottom: 2px solid white;
        border-left: 0;
        border-right: 0;

        &:hover{
            color: $aHovers;
        }
    }
}
#plilpasso{
    border: 0!important;
}
.iconesp3{
    display: flex;
    width: 70vw;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
}
.textp3{
    @include flexAdj(flex, center, center, column);
    margin: 0 20px 0 0;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp3{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;        
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);

        &:hover{
            color: $aHovers;
        }
    }
}
.iconesp4{
    width: 80vw;
    height: 800px;
    @include flexAdj(flex, flex-end, center, row);
}
.textp4{
    @include flexAdj(flex, flex-start, center, column);
    margin: 0 0 0 20px;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp4{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;        
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);
        border-top: 0;
        border-bottom: 2px solid white;
        border-left: 0;
        border-right: 0;

        &:hover{
            color: $aHovers;
        }
    }
}
#wpapasso{
    border: 0!important;
}
.iconesp5{
    width: 70vw;
    height: 800px;
    @include flexAdj(flex, flex-start, center, row);
}
.textp5{
    @include flexAdj(flex, center, center, column);
    margin: 0 20px 0 0;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp5{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);

        &:hover{
            color: $aHovers;
        }
    }
}
.iconesp6{
    width: 70vw;
    height: 800px;
    @include flexAdj(flex, flex-end, center, row);
}
.textp6{
    @include flexAdj(flex, flex-start, center, column);
    margin: 0 0 0 20px;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp6{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);

        &:hover{
            color: $aHovers;
        }
    }
}
.iconesp7{
    width: 70vw;
    height: 800px;
    @include flexAdj(flex, flex-start, center, row);
}
.textp7{
    @include flexAdj(flex, flex-start, center, column);
    margin: 0 20px 0 0;
    background-color: $menuBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
#ferramentasp7{
    width: 100%;
    padding: 0;
    flex-flow: column;
    background-color: $borderColor;
    border-radius: 10px;

    li{
        list-style: none;
        @include flexAdj(flex, flex-start, center, row);
        width: 100%;
        font-size: 15px;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;

        &:hover{
            background-color: $hoverBackground;
            transition: background 300ms ease-in-out;
        }
    }
    a{
        text-decoration: none;
        color: white;
        width: 90%;
        height: 100%;
        @include flexAdj(flex, flex-start, center, row);

        &:hover{
            color: $aHovers;
        }
    }
}
/* PLANETAS */
#planeta1{
    @include planetFormat(20rem, auto, 830px);// (left, right, width)
}
#planeta2{
    @include planetFormat(auto, 30rem, 480px);// (left, right, width)
}
#planeta3{
    @include planetFormat(30rem, auto, 480px);// (left, right, width)
}
#planeta4{
    @include planetFormat(auto, 25rem, 460px);// (left, right, width)
}
#planeta5{
    @include planetFormat(31rem, auto, 450px);// (left, right, width)
}
#planeta6{
    @include planetFormat(auto, 30rem, 450px);// (left, right, width)
}
#planeta7{
    @include planetFormat(31rem, auto, 450px);// (left, right, width)
}
