// IMPORTS
@import './variaveis_trilha';
@import './functions_trilha';

// BODY
body h2{
    font-size:25px;
    color: white; 
}
body {
    @include flexCenter();
    flex-flow:column;
    box-sizing: content-box;
    margin:0;
    padding:0;
    background: black url("../../assets/img/universo.jpg") no-repeat center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
footer{
    margin:0;
    @include objSize(auto, 100vw);// height, width
}
// NAV MENU ICONS
#backicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 160px 0 0;
}
#homeicon{
    position: fixed;
    right: 0;
    top: 0;
    margin: 50px 60px 0 0;
}
// TRILHA
.trilhatop{
    @include flexAdj(flex, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include objSize(100vh, 100vw);// height, width
    padding: 50px;

    div{
        @include flexAdj(flex, center, center, column);// display, justify-content, align-items, flex-flow
    }
}
.trilhainfo{
    @include objSize(90vh, 95vw);// height, width
    background-color: $menuBackground;
    padding: 20px;
    border: 3px solid $borderColor;
    border-radius: 50px;
}
.trilhatitulo h3{
    font-size: 50px;
    color: white;
}
.trilhasubtitulo{
    @include objSize(170px, auto);// height, width
    justify-content: flex-end!important;
    color: white;

    p{
        font-size: 30px;
    }
}
.trilhavideo{
    @include objSize(500px, auto);// height, width
    background-color: $menuBackground;
    border: 3px solid $borderColor;
    border-radius: 10px;

    video{
        border-radius: 10px;
    }
}
.trilhabotao{
    @include objSize(130px, auto);// height, width
    background-color: $hoverBackground;
    border: 2px solid $borderColor;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;

    button{
        font-size: 20px;
        color: white;
        text-decoration: none!important;
        background: none;
        outline: none;
        border: none;
        
        &:hover{
            color: rgb(179, 221, 255);
        }
    }
}
.foguetediv{
    @include flexCenter();
    @include objSize(auto, 100vw);// height, width
}
#foguete{
    @include objSize(auto, 390px);// height, width
    position: fixed;
    display: none;
    margin-top: 500px;
}
.controller{
    @include objSize(auto, 100px);// height, width
    position: fixed;
    right: 0;
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
}   
#buttonup{
    @include flexCenter();
    @include objSize(60px, 60px);// height, width
    margin: 850px 50px 20px 0;

    img{
        @include objSize(35px, auto);// height, width
    }
}
#buttondown{
    @include flexCenter();
    @include objSize(60px, 60px);// height, width
    margin: 970px 50px 0 0;

    img{
        transform: rotate(180deg);
        height: 35px;
        width: auto;    
    }
}
#trilha {
    @include flexAdj(none, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include objSize(auto, 100vw);// height, width
}
.nomepilar{
    @include flexCenter();
    position: absolute;
    left: 0;
    margin: 0 0 0 70px;

    h1{
        font-size: 15px;
        color: #fff;
    }
}
.iconeshome{
    @include flexCenter();
    position: absolute;
    right: 0;
    margin: 0 70px 0 0;

    a{
        margin: 0 0 0 20px;
    }
}
.iconesp1{
    @include flexAdj(flex, flex-start, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp1{
    @include flexAdj(flex, center, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 20px 0 0;
}
#ferramentasp1{
    @include ferramentas();
    a{
        @include botBorder();
    }
}
#mvppasso{
    border: 0!important;
}
.iconesp2{
    @include flexAdj(flex, flex-end, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp2{
    @include flexAdj(flex, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 0 0 20px;
}
#ferramentasp2{
    @include ferramentas();
    a{
        @include botBorder();
    }
}
#plilpasso{
    border: 0!important;
}
.iconesp3{
    @include flexAdj(flex, flex-start, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp3{
    @include flexAdj(flex, center, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 20px 0 0;
}
#ferramentasp3{
    @include ferramentas();
}
.iconesp4{
    @include flexAdj(flex, flex-end, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp4{
    @include flexAdj(flex, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 0 0 20px;
}
#ferramentasp4{
    @include ferramentas();
    a{
        @include botBorder();
    }
}
#wpapasso{
    border: 0!important;
}
.iconesp5{
    @include flexAdj(flex, flex-start, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp5{
    @include flexAdj(flex, center, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 20px 0 0;
}
#ferramentasp5{
    @include ferramentas();
}
.iconesp6{
    @include flexAdj(flex, flex-end, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp6{
    @include flexAdj(flex, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 0 0 20px;
}
#ferramentasp6{
    @include ferramentas();
}
.iconesp7{
    @include flexAdj(flex, flex-start, center, row);// display, justify-content, align-items, flex-flow
    @include icones();
}
.textp7{
    @include flexAdj(flex, flex-start, center, column);// display, justify-content, align-items, flex-flow
    @include texts();
    margin: 0 20px 0 0;
}
#ferramentasp7{
    @include ferramentas();
}
/* PLANETAS */
#planeta1{
    @include planetFormat(20rem, auto, 830px);// (left, right, width)
}
#planeta2{
    @include planetFormat(auto, 30rem, 480px);// (left, right, width)
}
#planeta3{
    @include planetFormat(30rem, auto, 480px);// (left, right, width)
}
#planeta4{
    @include planetFormat(auto, 30rem, 460px);// (left, right, width)
}
#planeta5{
    @include planetFormat(31rem, auto, 450px);// (left, right, width)
}
#planeta6{
    @include planetFormat(auto, 30rem, 450px);// (left, right, width)
}
#planeta7{
    @include planetFormat(31rem, auto, 450px);// (left, right, width)
}