body h2 {
  font-size: 25px;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
  padding: 0;
  background: black url("../../assets/img/universo.jpg") no-repeat center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

footer {
  margin: 0;
  height: auto;
  width: 100vw;
}

#backicon {
  position: fixed;
  right: 0;
  top: 0;
  margin: 50px 160px 0 0;
}

#homeicon {
  position: fixed;
  right: 0;
  top: 0;
  margin: 50px 60px 0 0;
}

.trilhatop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 50px;
}

.trilhatop div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trilhainfo {
  height: 90vh;
  width: 95vw;
  background-color: rgba(72, 136, 255, 0.192);
  padding: 20px;
  border: 3px solid rgba(81, 197, 218, 0.555);
  border-radius: 50px;
}

.trilhatitulo h3 {
  font-size: 50px;
  color: white;
}

.trilhasubtitulo {
  height: 170px;
  width: auto;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  color: white;
}

.trilhasubtitulo p {
  font-size: 30px;
}

.trilhavideo {
  height: 500px;
  width: auto;
  background-color: rgba(72, 136, 255, 0.192);
  border: 3px solid rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

.trilhavideo video {
  border-radius: 10px;
}

.trilhabotao {
  height: 130px;
  width: auto;
  background-color: rgba(123, 202, 255, 0.555);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  margin-top: 20px;
  padding: 5px;
}

.trilhabotao button {
  font-size: 20px;
  color: white;
  text-decoration: none !important;
  background: none;
  outline: none;
  border: none;
}

.trilhabotao button:hover {
  color: #b3ddff;
}

.foguetediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100vw;
}

#foguete {
  height: auto;
  width: 390px;
  position: fixed;
  display: none;
  margin-top: 500px;
}

.controller {
  height: auto;
  width: 100px;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  font-size: 20px;
}

#buttonup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  margin: 850px 50px 20px 0;
}

#buttonup img {
  height: 35px;
  width: auto;
}

#buttondown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  margin: 970px 50px 0 0;
}

#buttondown img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 35px;
  width: auto;
}

#trilha {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100vw;
}

.nomepilar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  margin: 0 0 0 70px;
}

.nomepilar h1 {
  font-size: 15px;
  color: #fff;
}

.iconeshome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  margin: 0 70px 0 0;
}

.iconeshome a {
  margin: 0 0 0 20px;
}

.iconesp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 20px 0 0;
}

#ferramentasp1 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp1 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp1 a:hover {
  color: #b3ddff;
}

#ferramentasp1 a {
  border-top: 0;
  border-bottom: 2px solid white;
  border-left: 0;
  border-right: 0;
}

#mvppasso {
  border: 0 !important;
}

.iconesp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 0 0 20px;
}

#ferramentasp2 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp2 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp2 a:hover {
  color: #b3ddff;
}

#ferramentasp2 a {
  border-top: 0;
  border-bottom: 2px solid white;
  border-left: 0;
  border-right: 0;
}

#plilpasso {
  border: 0 !important;
}

.iconesp3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 20px 0 0;
}

#ferramentasp3 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp3 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp3 a:hover {
  color: #b3ddff;
}

.iconesp4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 0 0 20px;
}

#ferramentasp4 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp4 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp4 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp4 a:hover {
  color: #b3ddff;
}

#ferramentasp4 a {
  border-top: 0;
  border-bottom: 2px solid white;
  border-left: 0;
  border-right: 0;
}

#wpapasso {
  border: 0 !important;
}

.iconesp5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 20px 0 0;
}

#ferramentasp5 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp5 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp5 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp5 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp5 a:hover {
  color: #b3ddff;
}

.iconesp6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 0 0 20px;
}

#ferramentasp6 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp6 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp6 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp6 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp6 a:hover {
  color: #b3ddff;
}

.iconesp7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  width: 70vw;
}

.textp7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 300px;
  background-color: rgba(72, 136, 255, 0.192);
  border: 2px solid rgba(81, 197, 218, 0.555);
  border-radius: 30px;
  padding: 5px;
  margin: 0 20px 0 0;
}

#ferramentasp7 {
  height: auto;
  width: 100%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(81, 197, 218, 0.555);
  border-radius: 10px;
}

#ferramentasp7 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  width: 100%;
  list-style: none;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

#ferramentasp7 li:hover {
  background-color: rgba(123, 202, 255, 0.555);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#ferramentasp7 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 90%;
  text-decoration: none;
  color: white;
}

#ferramentasp7 a:hover {
  color: #b3ddff;
}

/* PLANETAS */
#planeta1 {
  position: absolute;
  height: auto;
  left: 20rem;
  right: auto;
  width: 830px;
}

#planeta2 {
  position: absolute;
  height: auto;
  left: auto;
  right: 30rem;
  width: 480px;
}

#planeta3 {
  position: absolute;
  height: auto;
  left: 30rem;
  right: auto;
  width: 480px;
}

#planeta4 {
  position: absolute;
  height: auto;
  left: auto;
  right: 30rem;
  width: 460px;
}

#planeta5 {
  position: absolute;
  height: auto;
  left: 31rem;
  right: auto;
  width: 450px;
}

#planeta6 {
  position: absolute;
  height: auto;
  left: auto;
  right: 30rem;
  width: 450px;
}

#planeta7 {
  position: absolute;
  height: auto;
  left: 31rem;
  right: auto;
  width: 450px;
}
/*# sourceMappingURL=style_trilha.css.map */